body,div,h1,h2,p,ol,ul,li,aside{
    margin: 0;
    padding: 0;
    border: 0;
}

a{
	color:#EFEFEF;
	text-decoration:none;
}

@font-face {
    font-family: 'Quicksand-light';
    src: url('../../fonts/Quicksand_Book-webfont.eot');
    src: url('../fonts/Quicksand_Book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Quicksand_Book-webfont.woff') format('woff'),
         url('../fonts/Quicksand_Book-webfont.ttf') format('truetype'),
         url('../fonts/Quicksand_Book-webfont.svg#QuicksandBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand-bold';
    src: url('../fonts/Quicksand_Bold-webfont.eot');
    src: url('../fonts/Quicksand_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Quicksand_Bold-webfont.woff') format('woff'),
         url('../fonts/Quicksand_Bold-webfont.ttf') format('truetype'),
         url('../fonts/Quicksand_Bold-webfont.svg#QuicksandBold') format('svg');
    font-weight: bold;
    font-style: normal;
}


img{
	max-width:100%;
}
/* 
*{ 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;    
} */

@-webkit-viewport {
    width:device-width;
}

@-moz-viewport {
    width:device-width;
}

@-ms-viewport {
    width:device-width;
}

@-o-viewport {
    width:device-width;
}

@viewport {
    width:device-width;
}

body{
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%; 
    font-family:Helvetica ,sans-serif !important;
    color: #6D6D6D;
    background:url(../bg.png) #e5e5e5;
	font-size:16px;
}

header{
	height:100px;
	background:rgba(50, 200, 50, 0.9);
	color:#efefef;
	max-width:100%;
	width:100%;
	z-index:10;
	box-shadow:1px 0 9px #333;
}

.wrapper{
	margin:0 auto;
	width:1280px;
	max-width:100%;
}

header #title{
	font-family:Tahoma, Helvetica;
	font-size:2em;
	text-shadow:1px 1px #666;
	position:relative;
	float:left;
	height:auto;
}

header #tagline{
	font-size:.8em;
	position:relative;
	top:-10px;
	font-family:Tahoma, Helvetica;
}

#main-content{
	overflow:hidden;
	position:relative;
	max-width:95%;
	left:2.5%;
	right:2.5%;
	clear:both;
	display:block;
	height:auto;
	top:15px;
}

#maps{
	width:70%;
	float:left;
}

#world-map{
	width:100%;
	max-width:100%;
	background:#ccc;
	left:5%;
	height:500px;
}
#slider-contents{
	width:100%;
}

#slider{
	font-size:12px;
	margin:5px 0;
	width:84%;
	float:left;
	margin-left:1%;
}

#slider-content #slider-data{
	float:left;
	margin-left:1.5%;
}

#slider-content label{
	width:100px;
}

#slider-data input{
font-weight:bold;
	width:70px;
	background:transparent;
	border:0;
	color: #333;
}

#controls{
	margin-left:2%;
	width:28%;
	float:left;
	height:400px;
	margin-top:-8px;
	 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;
}

#title-des ul{
	width:100%;
	clear:both;
	background:#fff;
}

#title-des li{
	float:left;
	list-style:none;
	padding:10px;
}

/* #controls ul li{
	list-style:none;
	padding:10px;
	font-size:20px;
	height:25px;
}

#controls li li{
	float:left;
	list-style:none;
	padding:5px;
	
}

#controls ul ul{
	overflow:hidden;
}

#control img{
	max-width:50%;
}

#controls ul ul:hover{
	background:#ccf;
}
 */
 

aside nav li{
	list-style:none;
	padding:10px;
	background:#FFF;
	margin-top:10px;
	width:250px;
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);
	height:20px;
	background:#f5f5f5;
}

aside nav li:hover{
	border-left:2px solid #45CC45;
	margin-left:-2px;
}

aside nav li ul{
	margin:0;
	padding:0;
	display:none;
}

aside nav li:hover ul{
	display:block;
	position:absolute;
}

aside nav li ul li{
	background:#fff;
}

aside nav li ul li:hover{
	border:0;
	margin-left:0;
	background:#94e294;
}

aside nav li li img{
	max-width:100%;
	margin:0 10px 0 0;
	float:left;
}

aside nav ul ul{
	margin:10px 0 0 -10px;
}

#footer-wrapper{
	width:900px;
	margin:0 auto;
	max-width:100%;
}

footer{
	position:relative;
	top:100px;
	width:100%;
	background:rgba(50, 200, 50, 0.9);
	color:#efefef;
	max-width:100%;
	padding:10px;
	
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;
	overflow:hidden;
	
	font-family:Verdana,Arial,sans-serif;
	font-size:14px;
	
	box-shadow:0 0px 4px #000000;
}

footer img{
	padding:5px;
	float:left;
}

footer li{
	list-style:none;
}

footer ul{
	float:left;
	margin:20px;
}

footer #header{
	font-weight:bold;
}

footer #spaceapps{
	float:left;
}


/*Media Queries */
@media (max-width:1024px){		
	#maps{
		width:100%;
	}
	
	#controls{
		width:100%;
	}
}