body,div,h1,h2,p,ol,ul,li {
    margin: 0;
    padding: 0;
    border: 0;
}

@font-face {
    font-family: 'Quicksand-light';
    src: url('../../fonts/Quicksand_Book-webfont.eot');
    src: url('../fonts/Quicksand_Book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Quicksand_Book-webfont.woff') format('woff'),
         url('../fonts/Quicksand_Book-webfont.ttf') format('truetype'),
         url('../fonts/Quicksand_Book-webfont.svg#QuicksandBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand-bold';
    src: url('../fonts/Quicksand_Bold-webfont.eot');
    src: url('../fonts/Quicksand_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Quicksand_Bold-webfont.woff') format('woff'),
         url('../fonts/Quicksand_Bold-webfont.ttf') format('truetype'),
         url('../fonts/Quicksand_Bold-webfont.svg#QuicksandBold') format('svg');
    font-weight: bold;
    font-style: normal;
}


img{
	max-width:100%;
}
/* 
*{ 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;    
} */

@-webkit-viewport {
    width:device-width;
}

@-moz-viewport {
    width:device-width;
}

@-ms-viewport {
    width:device-width;
}

@-o-viewport {
    width:device-width;
}

@viewport {
    width:device-width;
}

body{
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%; 
    font-family:Quicksand-light, Helvetica ,sans-serif;
    color: #6D6D6D;
    background:url(../bg.png) #e5e5e5;
	font-size:16px;
}

header{
	height:100px;
	background:rgba(50, 200, 50, 0.5);
	color:#efefef;
	max-width:100%;
	width:100%;
	position:fixed;
	z-index:10;
	box-shadow:1px 0 9px #333;
}

.wrapper{
	margin:0 auto;
	width:1280px;
	max-width:100%;
}

header #title{
	font-family:Quicksand-bold;
	font-size:2em;
	letter-spacing:-3px;
	text-shadow:1px 1px #666;
	position:relative;
	float:left;
	height:auto;
}

header #tagline{
	font-size:.8em;
	position:relative;
	top:-10px;
	font-family:Quicksand-light;
}

#main-content{
	overflow:hidden;
	position:relative;
	top:110px;
	max-width:95%;
	left:2.5%;
	right:2.5%;
}

#maps{
	width:55%;
	float:left;
}

#world-map{
	width:100%;
	max-width:100%;
	background:#ccc;
	left:5%;
	height:400px;
}

#slider{
	font-size:12px;
	margin:5px auto;
	width:95%;
}

#controls, #browse{
	margin-left:2.5%;
	width:20%;
	float:left;
	height:400px;
	background:#ccc;
	padding:10px;
	 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;
}

#controls ul li{
	list-style:none;
	padding:10px;
	font-size:20px;
	height:25px;
}

#controls li li{
	float:left;
	list-style:none;
	padding:5px;
	
}

#controls ul ul{
	overflow:hidden;
}

#control img{
	max-width:50%;
}

#controls ul ul:hover{
	background:#ccf;
}